.containerFooter {
    background-color: $color-principal;

    .nav-link {
        color: #fff;
    }

    a:hover {
        color: rgb(224, 224, 224);
        &:hover {
            transform: scale(1.2);
          }
      }

      .contenedorIconos {
        display: flex;
        justify-content: center;
        gap: 10px;
      }
      
      a {
        color: #fff;
      }
}