.containerFooter {
    background-color: #e95d00;

    .nav-link {
        color: #fff;
    }

    a:hover {
        color: rgb(255, 196, 168);
        &:hover {
            transform: scale(1.1);
          }
      }

      .text-center {
        color: #fff;
      }

      .bi {
        -ms-flex-align: center;
      }
}