* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}


body {
    background: linear-gradient(#FF9A67, rgb(224, 224, 224))
}


main {
    margin: 22px;
    padding: 22px;
}


h1 {
    text-align: center;
    margin: 22px 0px;
}

h2 {
    text-align: center;
    margin: 22px 0px;
}


iframe {
    display: block;
    margin: auto;
}


p {
    padding: 10px;
}
